<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('系统管理','用户管理')"></div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">用户管理</div>
                        <div class="layui-card-body" style="padding: 0">
                            <div class="admin-table_header">
                                <div class="admin-table_header_left">
                                    <a th:href="@{'/admin/system/user/add'}" class="layui-btn">新增</a>
                                    <button type="button" class="layui-btn" lay-event="del">删除选中</button>
                                </div>
                                <div th:replace="admin/compose::admin-table_header_right('请输入用户名')">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <table id="demo" lay-filter="test"></table>
                            <script type="text/html" id="barDemo">
                                <a th:href="@{'/admin/system/user/list/{{d.id}}/edit'}"  class="layui-btn layui-btn-xs">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>

<script th:inline="none">

    layui.use('table', function(){
        let layer = layui.layer
            ,table = layui.table
            ,$ = layui.jquery;

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            let data = obj.data; //获得当前行数据
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            // var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'detail'){ //查看
                //do somehing
            } else if(layEvent === 'del'){ //删除

                layer.confirm('确定要删除该用户吗？', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        url:"/admin/api/v1/system/users/del",
                        data:{'id':data.id},
                        type:"Delete",
                        // dataType:"json",
                        success:function(data){
                            console.log(data);
                            layer.msg(data.msg);
                            location.reload(); //删除成功后再刷新
                        },
                        error:function(data){
                            $.messager.alert('错误',data.msg);
                        }
                    });

                });
            } else if(layEvent === 'edit'){ //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });


        //第一个实例
        table.render({
            elem: '#demo'
            ,url: '/admin/api/v1/system/users' //数据接口
            ,page: true //开启分页
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": 0,
                    "msg": res.message,
                    "count": res.total,
                    "data": res.records
                };
            }
            ,request: {
                pageName: 'current'
                ,limitName: 'size'
            }
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID',width:100, unresize:true}
                ,{field: 'username', title: '用户名', width:250, unresize:true}
                ,{field: 'email', title: '邮箱', width:250, unresize:true}
                ,{field: 'createdAt', title: '创建时间', width:180, unresize:true}
                ,{field: 'updatedAt', title: '更新时间', width:180, unresize:true}
                ,{fixed:'right',align: 'center', toolbar: '#barDemo', width:120}
            ]]
        });

    });
</script>

</body>
</html>