<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加用户 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('系统管理','角色管理')"></div>
                <div class="layui-card error-card" th:style="${errors==null}?'display:none;':''">
                    <div class="layui-card-body">
                        <blockquote class="layui-elem-quote" th:each="error:${errors}" th:text="${error.message}"></blockquote>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">编辑角色</div>
                        <div class="layui-card-body">
                            <form class="layui-form"  action="" method="post" novalidate>
                                <div class="layui-row layui-form-item">
                                    <label for="name" class="layui-form-label">角色名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="name" id="name"
                                               th:value="${role.name}"
                                               autocomplete="off"
                                               placeholder="角色名称">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label for="roleCode" class="layui-form-label">角色编码：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="roleCode" id="roleCode"
                                               th:value="${role.roleCode}"
                                               autocomplete="off"
                                               placeholder="请输入角色编码">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
    }();
</script>

</body>
</html>