<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="/js/dateUtils.js"></script>
<link rel="stylesheet" href="/js/ztree/css/zTreeStyle/zTreeStyle.css"></link>
<head >
    <title>角色列表 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />

</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('系统管理','角色管理')"></div>
                <div class="layui-card error-card" th:style="${errors==null}?'display:none;':''">
                    <div class="layui-card-body">
                        <blockquote class="layui-elem-quote" th:each="error:${errors}" th:text="${error.message}"></blockquote>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">角色管理</div>
                        <div class="layui-card-body" style="padding: 0">
                            <div class="admin-table_header">
                                <div class="admin-table_header_left">
                                    <a th:href="@{'/admin/system/role/add'}" class="layui-btn layui-btn-normal">新增</a>
                                </div>
                                <div th:replace="admin/compose::admin-table_header_right('请输入角色名称')">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        <table class="layui-table" lay-filter="demo"  id="demo">
                            </table>
                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                <a  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
</div>

    <th:block th:replace="admin/footer::script"/>
    <script src="/js/auth/roleList.js">

</script>


</body>
</html>