<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品分类 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商品管理','商品分类')"></div>
                <div class="layui-fluid">
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script>
    !function () {
        let myChart = echarts.init(document.getElementById('main'));
        let option = {
            grid: {
                left: '2%',
                right: '2%',
                top: '5%',
                bottom: '10%'
            },
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320, 1320, 1320, 1320, 1320, 1320],
                type: 'line',
                radius: '100%'
            }]
        };
        myChart.setOption(option);
    }();
</script>
<script>
    !function(){
        let layer = layui.layer
            ,form = layui.form;
        layer.msg('Hello World');
    }();
</script>

</body>
</html>