<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑商户 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','编辑商户')"></div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md6">
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">基本信息</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-row layui-form-item">
                                                    <label for="username" class="layui-form-label">用户名：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               name="username" id="username"
                                                               th:value="${merchant.username}"
                                                               autocomplete="off"
                                                               placeholder="请输入用户名">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="merchantName" class="layui-form-label">商户名称：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               name="merchantName" id="merchantName"
                                                               th:value="${merchant.name}"
                                                               autocomplete="off"
                                                               placeholder="请输入商户名称">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="email" class="layui-form-label">电子邮箱：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               name="email" id="email"
                                                               th:value="${merchant.email}"
                                                               autocomplete="off"
                                                               placeholder="请输入电子邮箱">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="status" class="layui-form-label">状态：</label>
                                                    <div class="layui-input-block">
                                                        <input id="status" type="radio" name="status" value="0" title="关闭" checked>
                                                        <input type="radio" name="status" value="1" title="开启">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">保存修改</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">支付账户</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="payAvailBalance" class="layui-form-label" style="width: 120px">
                                                        可用余额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="payAvailBalance" readonly
                                                               th:value="${merchant.payAccount.availBalance}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="payFreezeBalance" class="layui-form-label" style="width: 120px">
                                                        冻结金额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="payFreezeBalance" readonly
                                                               th:value="${merchant.payAccount.freezeBalance}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="bgje" class="layui-form-label" style="width: 120px">变更金额（元）：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="bgje" id="bgje"
                                                               autocomplete="off"
                                                               placeholder="请输入变更金额（元）">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <button class="layui-btn">增加余额</button>
                                                        <button type="reset" class="layui-btn layui-btn-primary">扣减余额</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">预充值账户</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="prepaidAvailBalance" class="layui-form-label" style="width: 120px">
                                                        可用余额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="prepaidAvailBalance" readonly th:value="123">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="prepaidFreezeBalance" class="layui-form-label" style="width: 120px">
                                                        冻结金额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="prepaidFreezeBalance" readonly th:value="123">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="changePrepaidBalance" class="layui-form-label" style="width: 120px">变更金额（元）：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="changePrepaidBalance" id="changePrepaidBalance"
                                                               autocomplete="off"
                                                               placeholder="请输入变更金额（元）">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <button class="layui-btn" lay-submit="" lay-filter="formDemo">增加余额</button>
                                                        <button type="reset" class="layui-btn layui-btn-primary">扣减余额</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">结算设置</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="settle" class="layui-form-label" style="width: 120px">结算手续费类型：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="settle" type="radio" name="settle" value="1" title="百分比收费" checked>
                                                        <input type="radio" name="settle" value="2" title="固定收费">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="mbsxf" class="layui-form-label" style="width: 120px">每笔手续费：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="mbsxf" id="mbsxf"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请输入每笔手续费">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="sxfbl" class="layui-form-label" style="width: 120px">结算手续费比例：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="sxfbl" id="sxfbl"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请再次输入登录密码">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="width: 120px">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">

                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">API配置信息</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form">
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>API_KEY</legend>
                                                        <div class="layui-field-box">
                                                            <input type="text" class="layui-input"
                                                                   name="apiKey" id="apiKey"
                                                                   autocomplete="off" readonly
                                                                   th:value="${merchant.apiConfig.apiKey}">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>API_SECURITY</legend>
                                                        <div class="layui-field-box">
                                                            <input type="text" class="layui-input"
                                                                   name="apiSecurity" id="apiSecurity"
                                                                   autocomplete="off" readonly
                                                                   th:value="${merchant.apiConfig.apiSecurity}">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>平台公钥</legend>
                                                        <div class="layui-field-box">
                                                            <textarea style="height: 130px" readonly class="layui-textarea" th:text="${merchant.apiConfig.pubKeyVal}"></textarea>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">API证书配置</div>
                                        <div class="layui-card-body">
                                            <fieldset class="layui-elem-field">
                                                <legend>商户公钥配置</legend>
                                                <div class="layui-field-box">
                                                    <form class="layui-form">
                                                        <div class="layui-form-item">
                                                            <textarea name="desc"
                                                                      placeholder="请输入内容"
                                                                      class="layui-textarea"></textarea>
                                                        </div>
                                                        <div>
                                                            <button style="width: 100%" type="submit" class="layui-btn">重置公钥</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">重置密码</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="password" class="layui-form-label">登录密码：</label>
                                                    <div class="layui-input-block">
                                                        <input type="password" class="layui-input"
                                                               name="password" id="password"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请设置登录密码">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="passwordConfirm" class="layui-form-label">确认密码：</label>
                                                    <div class="layui-input-block">
                                                        <input type="password" class="layui-input"
                                                               name="passwordConfirm" id="passwordConfirm"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请再次输入登录密码">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">重置密码</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="javascript">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,url: '/admin/api/v1/merchants' //数据接口
            ,page: true //开启分页
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": 0,
                    "msg": res.message,
                    "count": res.total,
                    "data": res.records
                };
            }
            ,request: {
                pageName: 'current'
                ,limitName: 'size'
            }
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID',width:100, unresize:true}
                ,{field: 'username', title: '用户名', width:150, unresize:true}
                ,{field: 'name', title: '商户名称', width:150, unresize:true}
                ,{field: 'email', title: '电子邮箱', width:250, unresize:true}
                ,{field: 'balance', title: '可用余额', width:100, unresize:true}
                ,{field: 'status', title: '状态', width:100, unresize:true}
                ,{field: 'createdAt', title: '创建时间', width:180, unresize:true}
                ,{field: 'updatedAt', title: '更新时间', width:180, unresize:true}
                ,{fixed:'right',align: 'center', toolbar: '#barDemo'}
            ]]
        });
    }();
</script>

</body>
</html>