<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-side-menu" th:fragment="menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
            <span>GreenPay 管理后台</span>
        </div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all">
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>首页</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin','数据概览')"></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-user"></i>
                    <cite>商户管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin/merchant/list','商户列表')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/merchant/add','添加商户')"></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-form"></i>
                    <cite>订单管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin/order/list','支付订单')"></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-cart-simple"></i>
                    <cite>支付配置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin/pay/type/list','支付类型')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/pay/interface/list','支付接口')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/pay/passage/list','支付通道')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/pay/product/list','支付产品')"></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    <cite>个人中心</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin/user/profile','基础资料')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/user/security','安全设置')"></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-set"></i>
                    <cite>系统管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd th:replace="admin/side::layui_nav_item('/admin/system/user/list','用户管理')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/system/role/list','角色管理')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/system/menu/list','菜单管理')"></dd>
                    <dd th:replace="admin/side::layui_nav_item('/admin/system/settings','系统设置')"></dd>
                </dl>
            </li>
        </ul>
    </div>
    <script>
        !function () {
            let items = document.querySelectorAll('.layui-side .layui-nav .layui-nav-item');
            items.forEach(function (item) {
                let activated = item.querySelector('.layui-this');
                if (!activated) return;
                item.className = item.className + ' layui-nav-itemed';
            })
        }();
    </script>
</div>
<dd th:class="${#httpServletRequest.requestURI==action?'layui-this':''}" th:fragment="layui_nav_item(action,title)">
    <a th:href="${action}" th:text="${title}"></a>
</dd>
</html>