<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增文章 - GLPrepaid</title>
    <th:block th:replace="admin/header::stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/simditor/css/simditor.css}" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('文章管理','新增文章')"></div>
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">新增文章</div>
                                <div class="layui-card-body">
                                    <textarea id="editor" placeholder="请输入文章内容" autofocus></textarea>
                                    <button id="ok" type="button" class="layui-btn">一个标准的按钮</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script th:src="@{/simditor/lib/module.js}"></script>
<script th:src="@{/simditor/lib/hotkeys.js}"></script>
<script th:src="@{/simditor/lib/uploader.js}"></script>
<script type="text/javascript" th:src="@{/simditor/lib/simditor.js}"></script>
<script>

</script>
<script>
    !function({editor}){

        let layer = layui.layer,
            form = layui.form,
            element = layui.element,
            $ = layui.jquery;
        $(document).on('click','#ok',function(){
            let content = editor.getValue();
            console.log(content);
        });
    }(function () {
        return {
            editor: function () {
                return new Simditor({
                    textarea: $('#editor')
                });
            }()
        }
    }());
</script>


</body>
</html>