<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esiran.greenpay.system.mapper.UserRoleMapper">
    <select id="selectRole" resultType="com.esiran.greenpay.system.entity.Role">
    SELECT * FROM system_role

    ${ew.customSqlSegment}
    </select>


    <resultMap id="rolevo" type="com.esiran.greenpay.system.entity.dot.UserRoleDto">
        <id property="id" column="role_id"/>
        <result property="name" column="name"/>
        <result property="roleCodes" column="roleCodes"/>

    </resultMap>

    <select id="selectRolesById"    resultMap="rolevo">
       select system_user_role.role_id,system_role.name,system_role.role_code AS roleCodes
       from system_user_role LEFT JOIN system_role ON (system_user_role.role_id = system_role.id)

    ${ew.customSqlSegment}
    </select>

    <delete id="deleteRoleById" >
        DELETE system_user_role,system_user_role FROM role LEFT JOIN system_user_role  ON  (system_user_role.role_id = system_role.id)

        ${ew.customSqlSegment}
    </delete>

</mapper>
