<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支付接口 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('支付配置','支付接口')"></div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">添加支付接口</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label for="payTypeCode" class="layui-form-label">支付类型：</label>
                                    <div class="layui-input-block">
                                        <select name="payTypeCode" id="payTypeCode">
                                            <option value="">无</option>
                                            <option value="wx_jsapi">微信JS_API</option>
                                            <option value="ali_jsapi">支付宝JS_API</option>
                                            <option value="wx_native">微信扫码支付</option>
                                            <option value="ali_native">支付宝扫码支付</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="interfaceCode" class="layui-form-label">接口编码：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="interfaceCode" id="interfaceCode"
                                               autocomplete="off"
                                               placeholder="请输入接口编码">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="interfaceName" class="layui-form-label">接口名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="interfaceName" id="interfaceName"
                                               autocomplete="off"
                                               placeholder="请输入接口名称">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="implType" class="layui-form-label">调用方式：</label>
                                    <div class="layui-input-block">
                                        <input id="implType" type="radio" name="implType" value="1" title="实现类调用" checked>
                                        <input type="radio" name="implType" value="2" title="插件调用">
                                        <input type="radio" name="implType" value="3" title="脚本调用">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="implClassName" class="layui-form-label">实现类名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="implClassName" id="implClassName"
                                               autocomplete="off"
                                               placeholder="请输入接口实现类名">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="status" class="layui-form-label">状态：</label>
                                    <div class="layui-input-block">
                                        <input id="status" type="radio" name="status" value="0" title="关闭" checked>
                                        <input type="radio" name="status" value="2" title="开启">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
    }();
</script>

</body>
</html>